{% extends "zerm/templates/index.html" -%}

{%- block title %}
    <title> 404 :: {{  config.extra.author }}</title>
{%- endblock title -%}

{%- block og_preview -%}
    <meta property="og:title" content="{{ social::og_title() }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ get_url(path="404.html") }}"/>
    <meta property="og:description" content="{{ social::og_description() }}"/>
    {%- if config.extra.og_preview_img -%}
        <meta property="og:image" content="{{ get_url(path="config.extra.og_preview_img") }}"/>
    {%- endif -%}
{%- endblock og_preview -%}

{%- block main -%}
    <div class="post">
        <h1 class="post-title">
            404
        </h1>
        <div class="post-content">
            <figure>
                <img src="404.jpg"/>
            </figure>
        </div>
    </div>
{%- endblock main -%}
